.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.grid:hover {
  cursor: url("../assets/Portal/portal.png") 32 32, pointer;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #4b495f;
  border-radius: 5px;
}
