.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.water-background {
  background-color: #4b495f;
}

.game-heading {
  padding: 5px 10px;
  text-align: center;
}

.expression-matrix {
  justify-content: center;
}

.timer {
  font-size: 32px;
  margin: 50px auto;
  text-align: center;
}

.players {
  font-size: 32px;
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
}

.user .opponent {
  display: flex;
  flex-direction: column;
}
